html, body {
	background-color: $blue-dark;
	color: $font-color;
	line-height: $line-height-computed;
	font-family: $font-family-base;
	font-size: $font-size-base;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-title;
	margin: 0;
	padding: 0;
}

a {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: $link-color-hover;
	}
	&:active {
		color: $link-color-active;
	}
	&:visited {
		color: $link-color-visited;
	}
}

// Forms
input[type="text"], button {
	height: $line-height-computed + $padding-base-vertical * 2;
	line-height: $line-height-computed;
	padding-top: $padding-base-vertical;
	padding-bottom: $padding-base-vertical;
	padding-left: $padding-base-vertical;
	padding-right: $padding-base-vertical;
	font-size: $font-size-base;
	vertical-align: top;
	margin: 0;
	color: $input-color;
}
input[type="text"] {
	border: 1px solid #CCC;
}

.input-list {
	> .input-group {
		display: inline-block;
	}
}
.input-group {
	border-radius: 8px;
	margin-right: 5px;
}
.input-id {
	font-size: $font-size-small;
	font-family: Courier, fixed;
	width: 100px;
}
.input-name {
	width: 80px;
}

button {
	font-weight: bold;
	color: $input-color;
}

